BODY {height: 100%;margin: 0 auto; background: #191919; color: #fc0;}

button {
    background: #4CAF50;
    color: #fff;
    border: none;
    padding: 1rem 5rem;
   }

.reg_h{
width: 300px;
height: 60px;
position: relative;
font-size: 18;
left: 145px;
bottom: 105px;
}
.uname{
width: 300px;
position: relative;
font-size: 23;
left: 40px;
bottom: 120px;
}

.uname_e{
width: 300px;
max-height: 0px;
position: relative;
font-size: 23;
bottom: 160px;
left: 190px;
}

.pswd{
width: 300px;
position: relative;
font-size: 23;
left: 40px;
bottom: 110px;
}

.pswd_e{
width: 300px;
max-height: 0px;
position: relative;
font-size: 23;
bottom: 150px;
left: 190px;
}

.pswr_handle_e{
width: 700px;
height: 0px;
position: relative;
font-size: 24;
margin-left: auto;
margin-right: auto;
top: 110px;
right: 10px;
text-align: center;
}

.c_pswd{
width: 300px;
position: relative;
font-size: 23;
left: 40px;
bottom: 100px;
}

.c_pswd_e{
width: 300px;
max-height: 0px;
position: relative;
left: 190px;
bottom: 140px;
font-size: 23;
}

.enter{
width: 0px;
position: relative;
font-size: 23;
left: 110px;
bottom: 100px;
}

.rem_me{
width: 300px;
position: relative;
font-size: 20;
}

.log_now{
width: 900px;
position: relative;
font-size: 23;
left: 90px;
bottom: 80px;
}


.lgin{
  word-wrap: break-word;
  margin-left: 450px;
  margin-right: 450px;
  position: relative;
  height: 500px;
  width: 500px;
  font-face: "Times New Roman";
  font-size: 30;
  background: #353535;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 10px solid #353535;
  border-right: 25px solid #353535;
  border-left: 25px solid #353535;
  border-radius: 8px;
  top: 100px;
  color: #ebebeb;
  -moz-box-shadow:0 0 15px #1ba155;
  -webkit-box-shadow:0 0 15px #1ba155;
  box-shadow:0 0 15px #1ba155;
  margin-left: auto;
  margin-right: auto;
}

img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.imgcontainer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  height: 100px;
  bottom: 340px;
  right: 395px;
}