<link rel="stylesheet" href="/static/css/main.css"/>
  <link rel="icon" type="image/png" href="/static/img/forum-icon.png">
<title> Правила CarX forum </title>
<div class="menu">
    <a href="/news/1" class="news-button">Новости</a>
    <a href="/vinils/1" class="vin-button">Винилы</a>
    <a href="/tuning/1" class="set-button">Тюнинг</a>
    <a href="/chat" class="chat-button">Чат</a>
    <a href="/profile" class="prof-button">Профиль</a>
</div>
  <link rel="stylesheet" href="static/css/rules.css"/>
<div class="rules">
  <div class="text_rules">
  <div class="text">
  <p style="text-align: center"> На форуме запрещено:
<li>Публиковать картинки, которые не соответствуют содержанию файла</li>
<li>Оскорблять администрацию</li>
<p style="text-align: center"> На форуме приветствуется:
<li>Уважительное отношение к участникам форума</li>
<li>Публикация качественного контента</li>


  </div>
</div>
</div>