{% extends 'main.html' %}
{% block content %}
  <link rel="stylesheet" href="/static/css/vin.css"/>
  <link rel="icon" type="image/png" href="/static/img/forum-icon.png">
  <title> Винилы CarX forum </title>
<div class="vns">
  <form action="" method="post" novalidate>
  <div class="inp">
    {{form.ct}}
  </div>
  <div class="find">
      {{form.csrf_token}}
      <button type="submit" action="">Найти</button>
  </div>
  </form>

  <div class="text_news" style="overflow: auto;">
    <div  class="h">
     <align="center";>{{name|safe}}
    </div>
     <div  class="desc">
       {{desc|safe}}
     </div>
     {% if img_f != 0 %}
       <p align="center";><img src="/{{img_f}}" alt="pic"></p>
     {% endif %}
     <p><a href="/{{file}}" download class="dow_vin">Скачать файл</a>
     {% if can_del %}
       <p><a href="/vinils/delete/{{idd}}" class="del_vin">Удалить файл</a>
     {% endif %}
    <div class="inf_text">
       <align="left"; height=0>Винил для модели {{car|safe}}
       <p><align="left"; height=0>Опубликовал пользователь {{usr|safe}}
       <p><align="left"; height=0>Дата публикации: {{dt|safe}}
    </div>
  </div>
</div>
{% endblock %}